.hourly-schedule {
    width: 100%;

    :global(.rbc-btn-group) {
        display: none;
    }

    :global(.rbc-time-view) {
        max-height: 31vh;
    }

    :global(.rbc-time-header-content) {
        display: none;
    }

    :global(.rbc-event) {
        background-color: var(--medium-light-color);
        border-color: var(--medium-dark-color);
    }

    :global(.rbc-current-time-indicator) {
        background-color: var(--dark-color);
    }

    :global(.rbc-event:focus) {
        outline: none;
        border: 1px solid var(--light-color) !important;
    }

    :global(.rbc-day-slot) {
        background-color: var(--text-color);
    }

    :global(.rbc-time-gutter) {
        background-color: var(--medium-dark-color);
    }
}

.loading-wrapper {
    display: flex;
    justify-content: center;
}

.error-text {
    text-align: center;
    color: var(--error-color);
}