.day-of-week-button {
    height: 30px;
    width: 30px;
    border: 1px solid var(--light-color);
    border-radius: 15px;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.day-of-week-button:hover {
    background-color: var(--medium-color);
    border-color: var(--medium-color);
}

.day-of-week-button:active {
    background-color: var(--medium-light-color);
    border-color: var(--medium-light-color);
}

.active {
    background-color: var(--light-color);
    border-color: var(--light-color);
    color: var(--dark-color);
}