.button {
    border: none;
    border-radius: 3px;
    color: var(--text-color);
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.standard-button {
    background-color: var(--medium-color);
}

.delete-button {
    background-color: var(--error-color);
}

.button:hover:enabled {
    cursor: pointer;
}

.standard-button:hover:enabled {
    background-color: var(--medium-dark-color);
}

.standard-button:active:enabled {
    background-color: var(--medium-color);
}

.delete-button:hover {
    background-color: var(--error-dark-color) !important;
}

.disabled {
    background-color: gray;
    color: lightgray;
}