.root-layout {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--dark-color);
    font-family: var(--font-family), sans-serif;
    color: var(--text-color);
}